.header {
  position: relative;
display: flex;  
  flex-direction: column;

}
.header .btn {
  position: absolute; 
  top: 190px; 
  left: 370px; 
  transform: translate(-50%, -50%); 
  z-index: 2; 
  background-color: #3BC3B3; 
  color: #fff; 
  border: none; 
  padding: 10px 20px; 
  cursor: pointer; 
  border-radius: 20%;
}

li {
  display: inline;
}

li {
  float: left;
}

a {
  color: black;
  display: block;
  padding: 20px;
  font-family: 'Poppins';
  font-size: large;
}

li {
  display: inline;
}

li {
  float: left;
}

a {
  color: black;
  display: block;
  padding: 20px;
  font-family: 'Poppins';
  font-size: large;
}

.scroll 
{
  top: 50px;
  position:relative;
  display:flex;
  width: 1300px;
  overflow:hidden;
  -webkit-mask-image: linear-gradient(90deg,transparent,#fff,#fff,transparent)
}

.scroll div
{
  white-space: nowrap;
  animation: animate var(--t) linear infinite;
  animation-delay: calc(var(--t) * -1)
}
.scroll div:nth-child(2)
{
  animation: animate2 var(--t) linear infinite;
  animation-delay: calc(var(--t) / -2);
}
@keyframes animate
{
  0%
  {
  transform: translateX(80%);
  }
  100%
  {
      transform: translateX(-80%);
  }
}
@keyframes animate2
{
  0%
  {
  transform: translateX(0%);
  }
  100%
  {
      transform: translateX(-200%);
  }
}
.scroll div span
{
  display: inline-flex;
  margin: 10px;
  color:#fff;
  background: #3BC3B3 ;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.5s;

}

.scroll div span:hover
{
  background: #0d0f;
  cursor: pointer;
}
.header .btn:hover
{
  transition: 0.5s;
  background: #0d0f;
  cursor: pointer;
}

.scroll
{
  display:flex;
  justify-content: center;
  align-items: center;

}

.gallery{
  width: 900px;
  display: flex;
  overflow-x: scroll;
}
.gallery div{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}

.gallery div img{
  width: 100%;
  filter: grayscale(100%);
  transition: transform 0.5s;
}
.gallery::-webkit-scrollbar{
  display:none;
}

.gallery-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% auto; 
}
#backBtn, #nextBtn{
  width: 50px;
  cursor:pointer;
  margin: 40px;
}

.gallery div img:hover{
  filter: grayscale(0);
  cursor: pointer;
  transform:scale (1.5);

}

.active :hover
  {
      background: #0d0f;
      cursor: pointer;
    }

    .news
    {
        top: 520px;
        left: 680px;
        z-index: 2;
        position:absolute;
        font-size:x-large;
    }
    
    .search {
      --padding: 12px;
      width: max-content;
      display: flex;
      align-items: center;
      padding: var(--padding);
      border-radius: 28px;
      background: #D9D9D9;

    }

  .search-input {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color:black;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
  }

  .text
  {
    position: relative;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1000px;
    left:200px;
    top: -100px;
  }