<!DOCTYPE html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <style>
    body {
        font-family: 'Poppins';font-size: 22px;
    }
    </style>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-sale=1.0">
<title>STAR WARS (PS)</title>
<link href="{{ url_for('static', filename='pickaside.css') }}" rel="stylesheet" type="text/css">
</head>
<body background="{{ url_for('static', filename='image 3.png') }}">
    <center><img src="{{ url_for('static', filename='Group 5.png') }}" width="200" class="center"></center>
    <div class="container1">
    <img src="{{ url_for('static', filename='image-removebg-preview 1.png') }}" class="warrior">
    <div class="middle">
    <a href="darkregistration">
    <div class="text1">DARK SIDE</div>
</a>    
    </div>
</div>
    <div class="container2">
    <img src="{{ url_for('static', filename='image 4.png') }}" class="jedi">
    <div class="middle2">
        <a href="whiteregistration">
    <div class="text1">WHITE SIDE</div>
</a>
</div>
</div>
    <center><p class="or">OR</p></center>
</body>
